*{
    margin: 0;
    padding: 0;
}

.outerDiv{
    height: 100vh;
    width: 100vw;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom : 0px;
    left: 30%;
    
}